name: Cal CI
on: push
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
            - uses: actions/checkout@v4
            - run: echo "Hello From Ci"
            - run: bash shell_scripit/cal/main.sh
