name: CLI Calculator Test
 
on:
  push:
    branches:
      - main
 
jobs:
  test-calculator:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Give execute permission
        run: chmod +x main.sh
 
      - name: Run calculator script
        run: |
          echo "10 20 30" | ./main.sh
